# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.log
prisma/dev.db

# env files
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma generated
/src/generated/prisma
